
<h3 style="display: inline; text-align: center; padding-left: 650px;
">Why</h3><h3 style="display: inline; padding-left:10px; text-decoration: underline; color: orange; text-align: center;
">GPREC</h3>


<div class="content">
    <div class="div1">
        <div class="circle">
            <mat-icon >star</mat-icon>
        </div>
        <div class="data">
                <h4>Credentials</h4>
                <p >The College is known for its quality initiatives which is amply reflected in accreditations. All the UG courses in the institute are accredited by National Board of Accreditation (NBA) and National Assessment and Accreditation Council (NAAC) with ‘A’ Grade. The college got 150-300 Band by NIRF Innovation Rank-2022 rankings.<br />
                    <a href="https://www.gprec.ac.in/about-us/affiliation-accreditation/">Read More..</a></p>
        </div>
    </div>
    <div class="div2">
        <div class="circle">
            <mat-icon >bookmark</mat-icon>
            
        </div>
        <div class="data">
                <h4>Teaching Pedagogy</h4>
                <p>The learning of a student at GPREC is a joyful journey transforming an aspiring young mind to an inspiring engineer responsive to societal and industrial needs. To bring the best out of a graduate, a well planned curriculum along with innovative teaching and learning process is established for a successful career. <a href="https://www.gprec.ac.in/academics/teaching-pedagogy/">Read more..</a></p>
            
        </div>
    </div>
    <div class="div3">
        <div class="circle">
            <mat-icon>thumb_up</mat-icon>
        </div>
          
        <div class="data">
                <h4>Career & Placements</h4>
                <p>The college is enabling students to realize their full potential and make the most of global opportunities. We plan and conduct a series of training programs for students to bridge the gap between campus teaching and industry requirement. <a href="https://www.gprec.ac.in/training-placements/placement-record/">Read more..</a></p>
            
        </div>
    </div>
    <div class="div4">
        <div class="circle">
            <mat-icon >group</mat-icon>
        </div>
        <div class="data">
            <h4>Alumni</h4>
            <p>GPREC is proud of its Alumni, who are well placed in hundreds of reputed National / Multi-national Organizations – in the public as well as private sector &#8211; across the globe. Many of them have successfully pursued their higher studies in reputed institutions in India and Abroad. <a href="https://alumni.gprec.ac.in/">Read more..</a></p>
		
        </div>
    </div>
</div>

<h3 style="display: inline; text-align: center; padding-left: 650px; color: black; text-decoration: underline orange;">Academics</h3>

<div class="content">
    <div class="div1">
        <div class="circle">
            <mat-icon >local_library</mat-icon>
        </div>
        <h4>Programs Offered</h4>
        <div class="data">
            <p style="text-align: justify">In UG program we offer Computer Science and Engineering, Electrical &amp; Electronics Engineering, Electronics &amp; Communication Engineering, Civil Engineering, Mechanical Engineering, Computer Science and Business Systems and Computer Science and Technology. In PG we offer Structural Engineering, CSE, VLSI.</p>
            <p>
        </div>
    </div>
    <div class="div2">
        <div class="circle">
            <mat-icon >group</mat-icon>
        </div>
        <h4>Consultancy Cell</h4>
        <div class="data">
            <p style="text-align: justify">The college offers consultancy services in various engineering fields by experienced and well qualified faculty. These include testing of engineering materials and advises in various projects and needs of the outside industry/organization.</p>
            <p>
        </div>
    </div>
    <div class="div3">
        <div class="circle">
            <mat-icon >explore</mat-icon>
        </div>
        <h4>R&D Cell</h4>
        <div class="data">
            <p style="text-align: justify">The college has established R&amp;D cell in the year 2008. To facilitate all the Research &amp; Development activities among students and faculty members, the R&amp;D cell is functional with active representatives from each and every department.</p>
            <p>
        </div>
    </div>
    <div class="div4">
        <div class="circle">
            <mat-icon >business</mat-icon>
        </div>
        <h4>ED Cell</h4>
        <div class="data">
            <p style="text-align: justify">Entrepreneurship Development Cell started its functioning from 1st January, 2008 to arrange Entrepreneurship Awareness Programmes to the 3rd and Final year students in collaboration with the concerned organizations.</p>
            <p>
        </div>
    </div>
</div>

