<!--<br>
<br>
<div class="container">
    <h1>Fee Payment</h1>
    <hr>
    <form id="payment-form">
        <label for="roll-number">Roll Number:</label>
        <input type="text" id="card-number" name="card-number" required>
        <label for="card-holder">Student Name:</label>
        <input type="text" id="card-holder" name="card-holder" required>
        <label for="amount">Amount (INR):</label>
        <input type="number" id="amount" name="amount" required>
        <label for="card-number">Card Number:</label>
        <input type="text" id="card-number" name="card-number" required>
        <label for="expiry">Expiry Date (MM/YY):</label>
        <input type="text" id="expiry" name="expiry" required>
        <label for="cvv">CVV:</label>
        <input type="text" id="cvv" name="cvv" required>
        <button type="button" id="pay-button" (click)="processPayment()">Pay Now</button>
    </form>
  </div>--->
  <br>
  <br>
  <br>
  <div class="container p-0">
    <div class="card px-4">
        <p class="h8 py-3">Payment Details</p>
        <br>
        <div class="row gx-3">
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Person Name</p>
                    <input class="form-control mb-3" type="text" placeholder="Name" value="Barry Allen">
                </div>
            </div>
            <br>
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Card Number</p>
                    <input class="form-control mb-3" type="text" placeholder="1234 5678 435678">
                </div>
            </div>
            <br>

            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Expiry</p>
                    <input class="form-control mb-3" type="text" placeholder="MM/YYYY">
                </div>
            </div>
            <br>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">CVV/CVC</p>
                    <input class="form-control mb-3 pt-2 " type="password" placeholder="***">
                </div>
            </div>
            <br>
            <div class="col-12">
                <div class="btn btn-primary mb-3">
                    <span class="ps-3">Pay</span>
                    <span class="fas fa-arrow-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>