.spacer{
  flex: 1 1 auto;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}

.example-disabled {
  display: inline-block;
}
img{
  padding-left: 20px;
  padding-top: 10px;
}
.mat-toolbar{
  color: black;
}