.accordion {
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 30px;
    width: 40%;
  }
  
  .accordion-header {
    background-color: orange;
    padding: 5px;
    cursor: pointer;
    box-shadow: 5px 5px 5px grey;
    text-align: center;
  }
  
  .accordion-button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 20px;
    color: white;
    font-size: 15px;
  }
  
  .accordion-body {
    padding: 10px;
    width: 50%;
  }
  
  .content{
    display: flex;
  }
